@charset "UTF-8";
:root {
  --headers-color: #212121;
  --secondary-text-color: #757575;
  --header-link-color: #2196F3;
  --footer-link-color:rgba(255, 255, 255, 0.6);
  --white-simbols-color:#FFFFFF;
  --primery-background-color:#FFFFFF;
  --secondary-background-color:#F5F4FA;
  --footer-background-color:#2F303A;
  --logo-black-color:#000000;
  --header-border-bottom:#ECECEC;
  --portfolio-cards-border:#EEEEEE;
  --background-hero-color:#C4C4C4;
  --icon-color: #AFB1B8;
}

/* Цвет заголовков - основного текста #212121 */
/* Вторичый цвет основного текста #757575 */
/* Цвет ссылок в футере rgba(255, 255, 255, 0.6)*/
/* Цвет голубой ссылки в хедере и кнопки заказать #2196F3 */
/* Цвет белых букв  #FFFFFF*/
/* Первичный цвет фона #FFFFFF */
/* Вторичный цвет фона #F5F4FA */
/* Цвет подвала #2F303A */
/* Цвет лого черный #000000 */
/* Нижняя рамка хедера  #ECECEC*/
/* Рамка карточек портфолио #EEEEEE */
/* Цвет иконок соцсетей #AFB1B8 */
/* Фон hero #C4C4C4 */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  background-color: var(--primery-background-color);
  color: var(--secondary-text-color);
  font-family: "roboto", "serif", "verdana", "tahoma", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

/* Убирает маркер в списках  */
.list,
.feature-list {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section-title {
  color: var(--headers-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.page-header {
  position: relative;
  border-bottom: 1px solid var(--header-border-bottom);
}

.page-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.address__link:hover, .address__link:focus {
  color: var(--header-link-color);
  fill: var(--header-link-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 768px) {
  .page-header__container {
    height: 60px;
  }
  .site-nav {
    display: none;
  }
  .address__list {
    display: none;
  }
  .mobile-menu-btn {
    background-color: transparent;
    border: 0;
    padding: 0;
    line-height: 0;
  }
  .mobile-menu-btn__icon {
    fill: var(--headers-color);
  }
  .mobile-menu-btn__icon:hover, .mobile-menu-btn__icon:focus {
    fill: var(--header-link-color);
  }
  .mobile-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: var(--primery-background-color);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transition: opacity 250ms linear, visibility 250ms linear;
    transition: opacity 250ms linear, visibility 250ms linear;
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: 0;
    padding: 0;
    line-height: 0;
  }
  .mobile-menu__close-btn:hover {
    fill: var(--header-link-color);
  }
  .mobile-menu__container {
    position: relative;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    font-family: Roboto;
    font-size: 40px;
    line-height: 1.18;
    font-weight: 500;
    text-align: left;
    vertical-align: top;
    letter-spacing: 2%;
    cursor: pointer;
  }
  .mobile-menu-nav {
    margin-bottom: 306px;
  }
  .mobile-menu-nav__link {
    color: var(--headers-color);
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu-nav__link:hover, .mobile-menu-nav__link:focus {
    color: var(--header-link-color);
  }
  .mobile-menu-nav__link--current {
    color: var(--header-link-color);
  }
  .mobile-menu-nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-menu-address {
    margin-bottom: 64px;
  }
  .mobile-menu-address__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-menu-address__item--mail {
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 2%;
  }
  .mobile-menu-address__link {
    font-style: normal;
    color: var(--secondary-text-color);
  }
  .mobile-menu-address__link--current {
    color: var(--header-link-color);
    font-size: 34px;
  }
  .mobile-menu-address__link:hover, .mobile-menu-address__link:focus {
    color: var(--header-link-color);
  }
  .mobile-menu-soc__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: roboto;
    font-style: Medium;
    font-size: 18px;
    line-height: 1.22;
    text-align: left;
    vertical-align: top;
    letter-spacing: 2%;
  }
  .mobile-menu-soc__link {
    color: var(--header-link-color);
    display: block;
    padding-right: 20px;
    position: relative;
  }
  .mobile-menu-soc__link::after {
    content: "";
    height: 100%;
    width: 1px;
    background-color: rgba(33, 33, 33, 0.2);
    position: absolute;
    right: 10px;
  }
}
@media screen and (min-width: 480px) {
  .page-header__container {
    height: 60px;
  }
}
@media screen and (min-width: 768px) {
  .page-header__container {
    height: 80px;
  }
  .nav-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .logo--header {
    margin-right: 88px;
  }
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
  .site-nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--headers-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site-nav__link:hover, .site-nav__link:focus {
    color: var(--header-link-color);
  }
  .site-nav__link--current {
    color: var(--header-link-color);
    display: block;
    position: relative;
  }
  .site-nav__link--current::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--header-link-color);
    position: absolute;
    left: 0;
    bottom: -1px;
  }
  .address__list {
    display: block;
  }
  .address__item--header {
    margin-bottom: 10px;
  }
  .mobile-menu-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .address__link {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: var(--secondary-text-color);
    fill: var(--secondary-text-color);
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: 0.02em;
    height: 100%;
  }
  .address__icon {
    margin-right: 8px;
  }
  .address__icon-envelope {
    width: 14px;
    height: 10px;
  }
  .address__icon-smartphone {
    width: 10px;
    height: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .address__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .address__link {
    font-size: 14px;
  }
  .address__item {
    margin: 0px;
  }
  .address__item--header:not(:last-child) {
    margin-right: 40px;
  }
  .address__icon {
    margin-right: 10px;
  }
  .address__icon-envelope {
    width: 16px;
    height: 12px;
  }
  .address__icon-smartphone {
    width: 12px;
    height: 16px;
  }
}
.logo {
  color: var(--header-link-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
}
.logo:hover .logo__label-studio, .logo:focus .logo__label-studio {
  color: var(--header-link-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo:hover .logo__label-studio--footer, .logo:focus .logo__label-studio--footer {
  color: var(--header-link-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo--footer {
  display: block;
  padding: 0;
  margin-bottom: 28px;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    margin-right: 93px;
  }
  .logo--footer {
    margin-bottom: 20px;
    text-align: left;
    margin-right: 0px;
  }
}
.logo--header {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo__label-studio {
  color: var(--logo-black-color);
}

.logo__label-studio--footer {
  color: var(--white-simbols-color);
}

.hero-overlay {
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-mobile@1x.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--background-hero-color);
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-mobile@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mobile@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero-overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-tablet@1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tablet@1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-tablet@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tablet@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero-overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-desctop@1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-desctop@1x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-desctop@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-desctop@2x.jpg);
  }
}
.hero__title {
  color: var(--white-simbols-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

/* Hero Button Замовити послугу */
button {
  font-family: inherit;
  cursor: pointer;
}

.hero__button {
  color: var(--white-simbols-color);
  background-color: var(--header-link-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 24px;
  border-radius: 4px;
  border-color: transparent;
}

@media screen and (min-width: 1200px) {
  .hero-overlay {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .hero__title {
    font-weight: 900;
    font-size: 44px;
    width: 696px;
  }
}
.feature__thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  background-color: var(--secondary-background-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.feature__title {
  color: var(--headers-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  margin-bottom: 10px;
}

.feature__text {
  line-height: 1.71;
}

@media screen and (max-width: 1199px) {
  .feature {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (max-width: 768px) {
  .feature__title {
    text-align: center;
  }
  .feature__text {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .feature-container {
    padding: 0;
  }
  .feature__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .feature__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .feature__item {
    -ms-flex-preferred-size: calc((100% - 120px) / 4);
        flex-basis: calc((100% - 120px) / 4);
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
.works {
  padding-top: 0px;
  padding-bottom: 0px;
}

.works__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.works__img {
  position: relative;
}

.works__txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  font-family: "roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 3%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  color: var(--primery-background-color);
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  left: 0px;
  bottom: 0px;
}

.works__list :not(:last-child) {
  margin-right: 30px;
}

@media screen and (max-width: 1199px) {
  .works {
    display: none;
  }
}
.team {
  background-color: var(--secondary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.team__item {
  -ms-flex-preferred-size: calc((100% - 90px) / 4);
      flex-basis: calc((100% - 90px) / 4);
  background: var(--white-simbols-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__card-body {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__card-name {
  color: var(--headers-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}

.team__card-text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .team__item {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
  .team__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 120px) / 4);
        flex-basis: calc((100% - 120px) / 4);
  }
  .team {
    background-color: var(--secondary-background-color);
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.soc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
}

.soc-item {
  display: block;
  width: 44px;
  height: 44px;
  margin-left: 10px;
}

.soc-item:first-child {
  margin-left: 0;
}

.soc-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--primery-background-color);
  color: var(--icon-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-link:hover, .soc-link:focus {
  background-color: var(--header-link-color);
  color: var(--primery-background-color);
}

.soc-icon {
  /* display: block; */
  fill: currentColor;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

.clients-section-title {
  margin-bottom: 30px;
  font-size: 28px;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -15px;
}

.clients__item {
  margin: 15px;
  height: 92px;
  -ms-flex-preferred-size: calc((100% - 60px) / 2);
      flex-basis: calc((100% - 60px) / 2);
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover {
  border: 1px solid var(--header-link-color);
}
.clients__link:hover .clients__icon, clients__icon .clients__link:focus .clients__icon,
.clients__link clients__icon {
  fill: var(--header-link-color);
}

.clients__icon {
  fill: var(--icon-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 60px;
  }
  .clients-section-title {
    margin-bottom: 50px;
    font-size: 36px;
  }
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 180px) / 6);
        flex-basis: calc((100% - 180px) / 6);
  }
}
.footer {
  background-color: var(--footer-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  text-align: center;
}

.address__list--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.address__item--footer:not(:last-child) {
  margin-bottom: 12px;
}

.address__link--footer {
  font-style: normal;
  color: var(--footer-link-color);
  font-size: 14px;
}

.address__link--footer-street {
  color: var(--white-simbols-color);
}

.footer-soc {
  margin-left: 0px;
}

.footer-soc__title {
  margin-bottom: 20px;
  color: var(--white-simbols-color);
  font-size: 14px;
  line-height: 1.4;
  text-transform: uppercase;
}

.soc-link--footer {
  background-color: rgba(255, 255, 255, 0.1);
}

.soc-icon--footer {
  fill: var(--white-simbols-color);
}

.form-footer__title {
  margin-bottom: 20px;
  color: var(--white-simbols-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.4;
  text-transform: uppercase;
}

.form-footer__input {
  margin-bottom: 20px;
  display: inline-block;
  width: 100%;
  height: 50px;
  padding-left: 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-box-shadow: 0 4 4 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 4 4 0 rgba(0, 0, 0, 0.15);
  color: rgba(255, 255, 255, 0.6);
}

.form-footer__input::-webkit-input-placeholder {
  font-family: "roboto";
  font-style: regular;
  font-size: 16px;
  line-height: 1.3;
  vertical-align: center;
  letter-spacing: 3%;
  color: rgba(255, 255, 255, 0.6);
}

.form-footer__input::-moz-placeholder {
  font-family: "roboto";
  font-style: regular;
  font-size: 16px;
  line-height: 1.3;
  vertical-align: center;
  letter-spacing: 3%;
  color: rgba(255, 255, 255, 0.6);
}

.form-footer__input:-ms-input-placeholder {
  font-family: "roboto";
  font-style: regular;
  font-size: 16px;
  line-height: 1.3;
  vertical-align: center;
  letter-spacing: 3%;
  color: rgba(255, 255, 255, 0.6);
}

.form-footer__input::-ms-input-placeholder {
  font-family: "roboto";
  font-style: regular;
  font-size: 16px;
  line-height: 1.3;
  vertical-align: center;
  letter-spacing: 3%;
  color: rgba(255, 255, 255, 0.6);
}

.form-footer__input::placeholder {
  font-family: "roboto";
  font-style: regular;
  font-size: 16px;
  line-height: 1.3;
  vertical-align: center;
  letter-spacing: 3%;
  color: rgba(255, 255, 255, 0.6);
}

.form-footer__button {
  width: 200px;
  height: 50px;
  color: var(--white-simbols-color);
  background-color: var(--header-link-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  border-color: transparent;
  margin-left: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.form-footer__icon {
  margin-left: 10px;
}

@media screen and (max-width: 768px) {
  .address-content {
    margin-bottom: 60px;
  }
  .footer-soc {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 760px) and (max-width: 1200px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .address-content {
    margin-right: 165px;
  }
  .form-footer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
  }
  .form-footer__input {
    display: block;
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .form-footer-input-thumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .form-footer__input {
    width: 358px;
  }
  .footer-soc__title {
    text-align: left;
  }
  .form-footer__title {
    text-align: left;
  }
  .form-footer__button {
    margin-left: 12px;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* .backdrop--is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
} */
.modal {
  position: absolute;
  padding: 40px;
  width: 450px;
  min-height: 609px;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  background-color: var(--white-simbols-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-btn:hover, .modal__close-btn:focus {
  fill: var(--header-link-color);
}

.no-scroll {
  overflow: hidden;
}

/* Оформление формы модального окна */
.modal__header {
  display: block;
  margin-bottom: 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
  font-family: "roboto";
  font-weight: 700;
  font-size: 20px;
  line-height: 1, 15;
  letter-spacing: 3%;
  text-align: center;
  color: var(--headers-color);
}

.modal__field-label {
  display: inline-block;
  font-family: "roboto";
  font-style: regular;
  font-size: 12px;
  line-height: 1.2;
  text-align: Left;
  vertical-align: top;
  Letter-spacing: 1%;
  color: var(--secondary-text-color);
  margin: bottom 4px;
}

.modal__field-input--coment {
  display: block;
  padding-top: 12px;
  padding-left: 16px;
  width: 100%;
  height: 120px;
  resize: none;
  font-family: "roboto";
  font-style: regular;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 1%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: var(--secondary-text-color);
  background-color: transparent;
  outline: transparent;
  cursor: pointer;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__inputs {
  display: block;
}

.modal__field {
  margin-bottom: 10px;
}

.modal__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
}

.modal__field-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__field-input {
  padding-left: 42px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: var(--secondary-text-color);
  background-color: transparent;
  outline: transparent;
  cursor: pointer;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__field-input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__field-input::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__field-input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__field-input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__field-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__field-input:focus + .modal__field-icon {
  fill: var(--header-link-color);
}

.modal__field-input:focus {
  border: 1px solid var(--header-link-color);
  border-radius: 4px;
}

.modal__field-input--coment:focus {
  border: 1px solid var(--header-link-color);
  border-radius: 4px;
}

.modal__license-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.modal__field-license {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.modal__license-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--headers-color);
  border-radius: 2px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1), background-size 250ms cubic-bezier(0.4, 0, 0.2, 1), background-origin 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1), background-size 250ms cubic-bezier(0.4, 0, 0.2, 1), background-origin 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__license-input:checked + .modal__license-icon {
  background-color: var(--header-link-color);
  background-image: url(../images/icon-check-white.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: var(--header-link-color);
}

.modal__license-input:not(:checked):focus + .modal__license-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--header-link-color);
  border-radius: 2px;
}

.modal__license-label {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "roboto";
  font-style: Regular;
  font-size: 12px;
  line-height: 1.7;
  vertical-align: top;
  letter-spacing: 3%;
  cursor: pointer;
}

.modal__license-text {
  display: inline-block;
  margin-left: 8px;
  color: var(--secondary-text-color);
}

.modal__license-link {
  color: var(--header-link-color);
}

.modal__btn-send {
  display: block;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  width: 200px;
  height: 50px;
  color: var(--white-simbols-color);
  background-color: var(--header-link-color);
  border: none;
  border-radius: 4px;
  font-family: "roboto";
  font-style: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 6%;
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
  .modal__header {
    display: block;
    margin-bottom: 12px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 448px;
    height: 23px;
  }
  .modal__license-label {
    font-size: 14px;
  }
}
.portfolio__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .portfolio__filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.portfolio__select {
  display: inline-block;
  border: 0;
  border-radius: 4px;
  padding: 6px 22px;
  margin-bottom: 15px;
  color: var(--headers-color);
  background-color: var(--secondary-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__select:hover, .portfolio__select:focus {
  color: var(--white-simbols-color);
  background-color: var(--header-link-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__filter-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio__select--all {
  color: var(--white-simbols-color);
  background-color: var(--header-link-color);
}

.portfolio-section {
  padding: 60px 0px;
}

.portfolio-cards-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 1199px) {
  .portfolio-card {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
  .portfolio-cards-list {
    margin: -15px;
  }
}
@media screen and (max-width: 768px) {
  .portfolio-cards-list {
    display: block;
  }
  .portfolio-img {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-card__footer {
    padding-right: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-section {
    padding: 94px 0px;
  }
  .portfolio-cards-list {
    gap: 30px;
  }
}
.portfolio-card__title {
  color: var(--headers-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-card__text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.87;
}

.portfolio-card__footer {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-left: 1px solid var(--portfolio-cards-border);
  border-right: 1px solid var(--portfolio-cards-border);
  border-bottom: 1px solid var(--portfolio-cards-border);
}

.portfolio-card__link {
  display: inherit;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card__link:hover, .portfolio-card__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-card__link:hover .portfolio-card__overlay, .portfolio-card__link:focus .portfolio-card__overlay {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.portfolio-card__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-card__overlay {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY -100%;
          transform: translateY -100%;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card__desctiption {
  display: inline-block;
  font-family: "roboto";
  font-style: regular;
  font-size: 18px;
  line-height: 1.55;
  vertical-align: top;
  letter-spacing: 3%;
  color: #FFFFFF;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 63px;
  padding-bottom: 63px;
}

@media screen and (max-width: 479px) {
  .portfolio-card__desctiption {
    padding-top: 0px;
  }
}/*# sourceMappingURL=main.css.map */