.works {
    padding-top:0px;
    padding-bottom: 94px;
}

.works__list {
    display:flex;
} 

.works__img {
    position: relative;
    width: 370px;
}
.works__txt {
    display: flex;
    position: absolute;

    font-family: $font-family-main;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 3%;
    align-items:  center;
    justify-content: center;
    text-transform: uppercase;
    
    color: var(--primery-background-color);
    background-color: rgba(47, 48, 58, 0.8);
    width: 100%;
    height: 70px;
    left: 0px;
    bottom: 15px;
}


.works__list :not(:last-child) {
    margin-right: 30px;
}

@media screen and (max-width:1199px) {
    .works {
        display: none;
    }
}


