:root {
    --headers-color: #212121;
    --secondary-text-color: #757575;
    --header-link-color: #2196F3;
    --footer-link-color:rgba(255, 255, 255, 0.6);
    --white-simbols-color:#FFFFFF;
    --primery-background-color:#FFFFFF;
    --secondary-background-color:#F5F4FA;
    --footer-background-color:#2F303A;
    --logo-black-color:#000000;
    --header-border-bottom:#ECECEC;
    --portfolio-cards-border:#EEEEEE;
    --background-hero-color:#C4C4C4;
    --icon-color: #AFB1B8;
 }
 /* Цвет заголовков - основного текста #212121 */
 /* Вторичый цвет основного текста #757575 */
 /* Цвет ссылок в футере rgba(255, 255, 255, 0.6)*/
 /* Цвет голубой ссылки в хедере и кнопки заказать #2196F3 */
 /* Цвет белых букв  #FFFFFF*/
 /* Первичный цвет фона #FFFFFF */
 /* Вторичный цвет фона #F5F4FA */
 /* Цвет подвала #2F303A */
 /* Цвет лого черный #000000 */
 /* Нижняя рамка хедера  #ECECEC*/
 /* Рамка карточек портфолио #EEEEEE */
 /* Цвет иконок соцсетей #AFB1B8 */
 /* Фон hero #C4C4C4 */

//  Переменные для типографики
$font-family-main: 'roboto'; 
$font-family-logo: 'Raleway', sans-serif;
